.tableWrapper {
  margin: 10px 10px 70px;
  box-shadow: 0px 35px 50px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.flTable {
  border-radius: 5px;
  font-size: 12px;
  font-weight: normal;
  border: none;
  border-collapse: collapse;
  width: 100%;
  max-width: 100%;
  white-space: nowrap;
  background-color: white;
}

.flTable td,
.flTable th {
  text-align: center;
  padding: 8px;
  letter-spacing: 1px;
}

.flTable td {
  border-right: 1px solid #f8f8f8;
  font-size: 16px;
}

.flTable thead th {
  color: #ffffff;
  background: #4fc3a1;
  font-size: 17px;
}

.flTable thead th:nth-child(odd) {
  color: #ffffff;
  background: #324960;
}

.flTable tr:nth-child(even) {
  background: #e7e8e99e;
}

.input {
  width: 20rem;
  margin: 20px auto;
  padding: 10px;
  border-radius: 10px;
  border: 2px solid #e7e7e7;
  text-align: left;
  outline: none;
  box-shadow: inset 0px 0px 10px -3px #000000;
}

.input:focus {
  border: 2px solid #4fc3a1;
  transition: border 0.3s ease-in;
}

.input[type="text"] {
  font-size: 18px;
}

/* Responsive */

@media (max-width: 864px) {
  .flTable {
    display: block;
    width: 100%;
  }
  .tableWrapper:before {
    content: "Scroll horizontally >";
    display: block;
    text-align: right;
    font-size: 11px;
    color: white;
    padding: 0 0 10px;
  }
  .flTable thead,
  .flTable tbody,
  .flTable thead th {
    display: block;
  }
  .flTable thead th:last-child {
    border-bottom: none;
  }
  .flTable thead {
    float: left;
  }
  .flTable tbody {
    width: auto;
    position: relative;
    overflow-x: auto;
    overflow-y: hidden;
    height: 22.5rem;
  }
   

  .flTable tbody::-webkit-scrollbar {
    width: 5px;
    height: 4px;
  }

  .flTable tbody::-webkit-scrollbar-track {
    background: #e4e3e3;
    height: 3px;
  }

  .flTable tbody::-webkit-scrollbar-thumb {
    background: #888;
    height: 3px;

  }

  .flTable td,
  .flTable th {
    padding: 20px 0.625em 0.625em 0.625em;
    height: 60px;
    vertical-align: middle;
    box-sizing: border-box;
    overflow-x: hidden;
    overflow-y: auto;
    width: 120px;
    font-size: 15px;
    text-overflow: ellipsis;
  }
  .flTable thead th {
    text-align: left;
    border-bottom: 1px solid #f7f7f9;
  }
  .flTable tbody tr {
    display: table-cell;
  }
  .flTable tbody tr:nth-child(odd) {
    background: none;
  }
  .flTable tr:nth-child(even) {
    background: transparent;
  }
  .flTable tr td:nth-child(odd) {
    background: #e7e8e99e;
    border-right: 1px solid #e6e4e4;
  }
  .flTable tr td:nth-child(even) {
    border-right: 1px solid #e6e4e4;
  }
  .flTable tbody td {
    display: block;
    text-align: center;
    overflow: hidden;
  }
}

@media (max-width: 485px) {
  .flTable thead th {
    overflow-x: auto;
    overflow-y: hidden;
    width: 5rem;
  }

  .flTable thead th::-webkit-scrollbar {
    width: 1px;
    height: 2px;
  }

  .flTable thead th::-webkit-scrollbar-track {
    background: #e4e3e3;
    height: 3px;
  }

  .flTable thead th::-webkit-scrollbar-thumb {
    background: rgb(172, 172, 172);
    height: 3px;

  }

  .flTable th {
    text-overflow: clip;
  }
}
