.headBanner {
  width: 100%;
  height: 80vh;
  margin: 50px auto;
  background: url("../image/coin.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
}

/* =========== */

.mainCoins {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.topCoinsContainer {
  background-color: #f5f5f5;
  width: 20rem;
  height: 25rem;
  margin: 20px;
  padding: 10px;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px,
    rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px,
    rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
}

.coinImg {
  width: 15rem;
  height: 14rem;
  margin-bottom: 15px;
}

.firstDetail {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 3px 10px;
  font-size: 18px;
}

.negativePrice,
.plusPrice {
  margin: 22px auto;
  font-size: 18px;
}

.negativePrice {
  color: red;
}

.plusPrice {
  color: green;
}

.marketCap {
  font-size: 20px;
}

.moreCoins {
  font-size: 25px;
  margin: 20px auto;
}

.moreCoins a {
  color: #000;
}